.horizontal-bar-chart-card {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
  margin: 0 auto; /* Centering the card */
}

.horizontal-bar-chart-title {
  font-size: 16px;
  font-weight: 600;
  color: #1a202c;
  margin-bottom: 20px;
}

.chart-container {
  height: 400px;
  margin-bottom: 20px; /* Spacing below the chart */
}

.proact-result {
  font-size: 14px;
  color: #4a5568;
}

.proact-result h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.proact-result ul {
  padding-left: 20px;
  list-style-type: none;
}

.proact-result li {
  margin: 5px 0;
}

.no-data-message {
  color: red;
  font-size: 1.2em;
}
