.recomendaciones-container {
    max-width: 600px;
    max-height: 300px;
    overflow-y: auto;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .recomendaciones-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .recomendaciones-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .recommendation-item {
    padding: 8px 0;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #eee;
  }
  
  .recommendation-item p {
    margin: 0;
  }
  
  .recomendaciones-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .recomendaciones-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }
  